*.com  
*.class  
*.dll  
*.exe  
*.o  
*.so
*.obj
*.pdb
*.read.1.tlog
*.write.1.tlog
*.command.1.tlog
*.log
Release/ConsoleApplication1.log
Release/vc120.pdb
Release/ConsoleApplication1.obj
*.vcxproj
*.filters
Release/*
ConsoleApplication1.vcxproj
ConsoleApplication1.vcxproj.filters
ConsoleApplication1.vcxproj.user
